.Rproj.user
.Rhistory
.RData
.Ruserdata

# Symlinks
finalcsvs
clean_summary_tables
ForestLight
data/clean_summary_tables

# Prevent versioning of large raw data file
data/rawdataobj_alternativecluster.r
data/rawdataobj_withimputedproduction.RData

# Executable files made by Stan
model_scripts/*.exe

